.location-list li{
    margin: 0px 30px;
}

  .edit-tools{
      font-size: 20px;
  }

  .edit-label{
      padding: 0px 20px;
  }

  @media (max-width: 530px){
      .location-list li{
          margin: 0px;
      }

  }