
.location-app{
    margin-right: 40px;
}

.head{
    text-align: center;
}

.location-app img{
    height: 140px;
}

.add-button{
    border-radius: 50%;
    font-size: 40px;
    float: right;
    position: sticky;
    z-index: 1;
    bottom: 10px;
    left: 15px;
  }