
.nav-list {
    padding-right: 20px;
    background-color: rgb(238, 238, 238);
    margin-bottom: 15px;
    width: 100vw;
    font-family: 'Roboto-Bold'
}

.nav-item{
    width: 130px;
    height: 80px;
  }

  